*{
   max-width:100%;
   box-sizing:border-box;
   font-family:system-ui,sans-serif;
   margin:0;
   padding:0;
}

body{
   /*overflow:hidden;*/
}

.root-main-content{
   width:100%;
   height:100vh;
   display:flex;
   flex-direction:column;
   justify-content:space-around;
   align-items:center;
   padding:2em;
}

.root-links{
   text-decoration:none;
   font-family:cursive,sans-serif;
   font-size:18px;
   font-weight:700;
   color:#252545;
}

.main-head{
   width:100%;
   display:flex;
   justify-content:space-around;
   align-items:center;
   flex-wrap:wrap;
   box-shadow:0px 3px 8px -1px #22678f;
   background-color:#F6F6F6;
}

.main-head-title{
   width:100%;
   display:flex;
   justify-content:center;
   align-items:center;
   text-align:center;
}

.slogan-container{
   width:calc(100% - 16px);
   display:flex;
   flex-direction:column;
   justify-content:center;
   align-items:center;
   margin:1em 0;
   padding:0.5em;
   background-color:rgba(225,225,455,0.8);
}

.slogan{
   font-family:cursive,sans-serif;
   align-self:flex-start;
}

.citation{
   font-family:monospace,sans-serif;
   align-self:flex-end;
}

.hero-banner{
   width:100%;
   height:15vh;
   min-height:15vh;
   max-height:15vh;
   display:flex;
   overflow:hidden;
   position:relative;
}

.hero-banner-img{
   height:auto;
   object-fit:cover;
   object-position:center;
}

.main-nav{
   width:100%;
   height:100%;
   display:flex;
   justify-content:center;
   align-items:center;
   position:absolute;
   top:0;
   right:0;
   left:0;
   bottom:0;
}

.main-menu{
   width:100%;
   list-style:none;
   display:flex;
   justify-content:space-around;
   align-items:center;
   flex-wrap:wrap;
   padding:0.5em;
}

.main-menu-items{
   display:flex;
   justify-content:center;
   align-items:center;
}

.main-menu-links{
   width:100%;
   text-decoration:none;
   text-align:center;
   color:#F6F6F6;
   font-size:1.2em;
   font-weight:700;
   text-shadow:1.5px 1.5px 2px #4848fa;
   transition:text-shadow 0.175s ease-in-out;
}.main-menu-links:hover{
   text-shadow: 2.5px 3.5px 0px #6262f8;
   filter:brightness(120%);
}

.main-content{
   width:100%;
   display:grid;
   grid-template-columns:repeat(3,1fr);
   gap:0.2em;
   grid-auto-rows:auto;
}

.left-aside{
   width:100%;
   display:flex;
   flex-direction:column;
   justify-content:center;
   align-items:center;
   grid-column:1;
}

.main-sections{
   width:100%;
   display:flex;
   flex-direction:column;
   justify-content:center;
   align-items:center;
   grid-column:span 2 / -1;
   padding:0.5em;
}

.main-footer{
   width:100%;
   position:fixed;
   bottom:0;
   justify-content:center;
   align-items:center;
   text-align:center;
   box-shadow:0px -1px 3.5px -1px #22678f;
}

@media all and (max-width:960px){
   .main-menu{
      justify-content:space-between;
   }
}